{% load static %}




 <nav class="navbar navbar-expand-lg bg-light">
     <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home'%}">
          <img src="{% static 'icon_master.png' %}">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'medidas' %}">Medidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'testes' %}">Testes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'lista' %}">Lista</a>
        </li>
      </ul>

    </div>
  </div>
</nav>